.title {
  @include font($font-size-title, bold);
}

.subtitle {
  @include font($font-size-subtitle, bold);
}

.paragraph {
  @include font($font-size-paragraph);
}

.fine-print {
  @include font(11px);
}

hr {
  border: 0;
  border-bottom: 3px solid #d9d49f;
}

.text-regular {
  font-size: $font-size-base;
  line-height: 1.5em;
}

a {
  @extend .text-regular;
  font-weight: bold;
  text-decoration: underline;
  color: #3d3d35;
}

.text-brand {
  color: #AE0505;
  text-decoration: none;
  font-weight: bold;
}

.d-block {
  display: block;
}

.full-width {
  width: 100%;
  max-width: 100%;
}

.bordered-container {
  border: 1px solid #d5d5d5;
  padding: 13px 14px;
  border-radius: 5px;
  margin-bottom: 15px;
}
/**
 * Drop-in <br> class
 * Linebreak will match height of gutter-half
 */
.gutter-break {
  line-height: 100 / $font-size-base * $gutter-half * 1%;
}

/**
 * Replacement for <hr>
 * Complete client coverage, line-breaks tags are used to
 * space the horizontal line.
 *
 * Markdown example:
 * <td class="hr">
 *   <br><br><div>&nbsp;</div><br>
 * </td>
 */
.hr {
  @extend .gutter-break;

  div {
    border-bottom: 1px solid #cccccc;
  }
}

h1, h2, h3 {
  display: block;
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  line-height: 100%;
  letter-spacing: normal;
  margin: 0 0 5px;
  text-align: left;
}

h1 {
  font-size: 16px;
}

h2 {
  font-size: 14px;
}

h3 {
  font-size: 12px;
}

p {
  @extend .text-regular;
  margin: 0 0 14px;
}

.page {
  &-header {
    text-align: left;
  }

  &-title {
    font-size: 16px;
    margin-bottom: 25px;
  }

  &-subtitle {
    margin-bottom: 10px;
  }
}

.space-right {
  padding-right: 5px;
}

.footer {
  line-height: 1.7em;

  &-columns {
    padding-left: 30px;
  }

  &-column {
    padding: 0 15px 0 30px;

    &__bordered {
      border-left: 1px solid #000000;
      border-right: 1px solid #000000;
    }
  }
}

.address {
  &-store-name {
    margin-bottom: 15px;
  }

  &-phone {
    display: inline-block;
    padding: 10px 0 5px;
  }
}

.phone-link {
  text-decoration: none;
}
