<h1 class="page-title">Dear Jonh,</h1>

<p>
  This is a confirmation of the maximum bid placed on your behalf by K&amp;L Wine Merchants on following lot:
</p>

<p>
  <b>2010 Bois-Malot, Bordeaux Supérieur</b>
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Your Maximum Bid:</p>
    </td>

    <td>
      <p>
        <b>$10.99</b>
        ($12.09 including 10% buyer's premium)
        (reserve not met)
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Your Bid Time:</p>
    </td>
    <td>
      <p><a href="#" class="link-default">04/17/2018 03:32pm PT</a></p>
    </td>
  </tr>

  <tr>
    <td>
      Auction End Time:
    </td>
    <td>
      <a href="#" class="link-default">05/17/2018 00:00pm PT</a>
    </td>
  </tr>
</table>

<p>&nbsp;</p>

<h1>This lot contains the following items:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1178723l.jpg',
  name: '2010 Bois-Malot, Bordeaux Supérieur',
  qty: 1,
  price: '$10.99'
}]}) %>

<table width="100%">
  <tbody>
  <tr>
    <td>
      <p>
        <a
          target="_blank"
          href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=1403810"
          class="text-brand"
        >
          Click Here
        </a>to increase your bid.
      </p>

      <p>
        <span class="text-brand inline-block">**</span>
        IMPORTANT: By placing this bid, you have consented to a binding contract to buy if should you win the lot.
        For more information, view the <a href="https://klwines.com/Auction/Information/AuctionInfo.aspx?section=TermsAndConditions#TermsAndConditions">
          K&amp;L Wine Auctions Terms &amp; Conditions of Auction Sale
        </a>.
      </p>

      <p>
        To view your bidding history, track new auctions or pay for lots, visit the My Account page and select&nbsp;
        <a href="https://www.klwines.com/Account"><b>Auctions-Buying</b></a>
      </p>

      <p>
        If you have any questions, you can contact the auction department toll-free at <a href="tel:8775594637" class="link-default">877-559-4637</a>
        (ext 4060) for customers in the United States, or <a href="tel:6505911705" class="link-default">(650) 591-1705</a> for international customers.
      </p>

      <p class="centered-banner-text">
        Thank you for shopping at <a href="https://www.klwines.com" class="link-default">klwines.com</a>!
      </p>
    </td>
  </tr>
  </tbody>
</table>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
