<h1 class="page-title">Dear Jonh,</h1>

<p>
  Thank you for consigning wine to K&amp;L Wine Auctions. We have received and inspected your bottles and are ready to proceed with listing your lots online at KLWines.com.
</p>

<p>
  Within this email are the final terms for your auction lot(s). Please review this information and contact the Auction Director at
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a> or call <a class="link-default" href="tel:6505562701">650-556-2701</a> if you need to request any changes.
</p>

<p>
  If you agree to these terms as indicated below, please reply to this email stating your consent to proceed with the auction.
  Your reply also indicates you've read and consent to the <a href="{$BaseLinkUrlKey}/Auction/Information/AuctionInfo.aspx?section=TermsAndConditions#TermsAndConditions">K&amp;L Wine Auctions Terms and Conditions of Auction Sale</a>.
</p>

<p>
  <span class="text-brand">**</span>IMPORTANT: We will not list your lots online without receiving your written approval.
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <span>Starting Bid Price:</span>

      <span class="pull-right space-right">
        <b>$249.00</b>
      </span>
    </td>

    <td>
      <span>Lot Reserve Price:</span>

      <span class="pull-right space-right">
        <b>$200.00</b>
      </span>
    </td>

    <td>
      <span>Number Of Bottles:</span>

      <span class="pull-right space-right">
        <b>7</b>
      </span>
    </td>
  </tr>
</table>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1403310x.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  link: 'https://www.klwines.com/p/i?i=1403310',
  qty: 7,
  price: '$224.00'
}]}) %>

<p class="centered-banner-text">
  Thank you for working with K&amp;L Wine Merchants!
</p>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>

