<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Lot/ShopperName"/>,
				<br/><br/>
				Congratulations! A portion or all of your Auction Lots have been activated and will be open for bidding shortly. 
				Please visit the My Account section of our website, and select "Auctions - Selling" to get the links to your lot(s) 
				and review the start and end dates for each auction:<br/>
				<a target="_blank">
					<xsl:attribute name="href">
						<xsl:value-of select="$BaseLinkUrlKey"/>/account.asp
					</xsl:attribute>
					<xsl:value-of select="$BaseLinkUrlKey"/>/account.asp
				</a>

				<br/><br/>
				If you need to get in touch with us about your wines, send an e-mail message to 
				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a> or call 650-591-1705<br/>

				Thank you for working with K&amp;L Wine Merchants!

				<br/><br/>-------------------------------------------------------------------------------<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>

				<br/>-------------------------------------------------------------------------------<br/><br/>
			</body>
		</html>