<h1 class="page-title">Dear Jonh,</h1>

<p>
  Congratulations! You have a second chance to buy the following lot:
</p>

<p>
  <b>
    2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)
  </b>
</p>

<p>
  Although the lot did not reach the reserve price,
  the Seller of this lot has agreed to sell you the wine at your high bid of <b>$280.00</b>
</p>

<p>
  If you should accept this offer, please click the "Pay Now" link below to confirm your shipping preferences and total purchase price.
</p>

<p>
  <a target="_blank" class="text-brand" href="https://www.klwines.com/p/i?i=1403310/Auction/Bidding/BidPaymentConfirmation.aspx?BidId=1403310">
    PAY NOW
  </a>
</p>

<p>
  <span class="text-brand inline-block">**</span>
  IMPORTANT: You must sign-on to your auction profile to confirm your bid and shipping preference in the next 3 days in order to purchase this auction lot.
  If you fail to claim this lot in the specified time frame, this offer will expire.
</p>

<p>
  <a target="_blank" href="https://www.klwines.com/p/i?i=1403310">Click here</a>&nbsp;to view details of this lot.
</p>

<%- include('./src/shared/ifYouHaveAnyQuestions') %>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
