<html xmlns="http://www.w3.org/1999/xhtml">
<body style="font-family:sans-serif">
    <p>The following customer attempted to request a check. The request was not processed since they have outstanding balance</p>
        

    <div>Shopper ID:</div>
    <div>@Model.ShopperNumId</div>
    <div>Shopper Name:</div>
    <div>@Model.FirstName</div>
    <div>Email:</div>
    <div>@Model.Email</div>

    <div><b>------------------------------------------------------------</b></div>


    <p>Thank you for shopping at klwines.com!</p>
    <p>-------------------------------------------------------------</p>

    <div>klwines.com</div>
    <div>"Internet's Best Wine Shop"</div>
    <div>-Money Magazine</div>
    <div>http://www.klwines.com</div>
</body>
</html>