<h1 class="page-title">Dear John Doe,</h1>

<p>Thank you for your check request.</p>

<p>
  Your check information appears below. If you need to get in touch with us about this payment, send an e-mail message to
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a> (or just reply to this email)
  or call <a href="tel:8002475987" class="link-default">800-247-5987</a> ext 4060.
</p>

<p>
  You will get a confirmation email when your check has been processed.
</p>

<p>Your check request reads as follows:</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Amount:</p>
    </td>

    <td>
      <p><b>$249.00</b></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Payee Name:</p>
    </td>
    <td>
      <p><b>John Doe</b></p>
    </td>
  </tr>

  <tr>
    <td>
      Ship to:
    </td>
    <td>
      <b>Tech Fabric LLC, 1530 E Williams Field Rd, Suite #201 Gilbert, AZ 85295</b>
    </td>
  </tr>
</table>

<%- include('./src/shared/transactionHistoryMessage') %>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
