<p>&nbsp;</p>

<p>The following customer attempted to request a check. The request was not processed since they have outstanding balance</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Shopper ID:</p>
    </td>

    <td>
      <p><b>445-557-4455</b></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Shopper Name:</p>
    </td>
    <td>
      <p><b>John Doe</b></p>
    </td>
  </tr>

  <tr>
    <td>
      Email:
    </td>
    <td>
      <b><a href="mailto:john.doe@mail.com">john.doe@mail.com</a></b>
    </td>
  </tr>
</table>

<p> </p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
