<h1 class="page-title">Dear Jonh Doe,</h1>

<p>We have cancelled the following check:</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Amount:</p>
    </td>

    <td>
      <p><b>$249.00</b></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Payee Name:</p>
    </td>
    <td>
      <p><b>John Doe</b></p>
    </td>
  </tr>

  <tr>
    <td>
      Ship to:
    </td>
    <td>
      <b>Tech Fabric LLC, 1530 E Williams Field Rd, Suite #201 Gilbert, AZ 85295</b>
    </td>
  </tr>
</table>

<p>
  If you have any questions, please send an e-mail message to
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a> (or just reply to this message)
  or call <a href="tel:8002475987" class="link-default">800-247-5987</a> ext 4060.
</p>

<p>To view a full transaction history of your auction sales and withdrawals,
  request a check or track your consignments,
  please visit the <a href="http://www.klwines.com/Account" class="text-brand">Auctions-Selling</a>  page. </p>

<p class="centered-banner-text">
  Thank you for shopping at <a href="https://www.klwines.com" class="link-default">klwines.com</a>!
</p>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
