<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    <p>Your email preferences have been changed at KLWines.com --  -- you can manage these settings at http://klwines.com/Account/EmailPreferences </p>

    <p><b>Max Number of Emails in a 30-Day Period:</b> @Model.NumberOfEmails</p>

    @if (Model.Subscriptions.Any(s => s.IsSubscribed))
    {
        <p>You are now signed up to receive the following emails:</p>
        
        <ul>
            @foreach (var subscription in Model.Subscriptions.Where(s => s.IsSubscribed))
            {
                <li>@subscription.Newsletter.Title</li>
            }
        </ul>
    }
    else
    {
        <p>You have no current email subscriptions.</p>
    }

</body>
</html>