<h1 class="page-title">Dear Jonh,</h1>

<p>Your email preferences have been changed at <a href="https://klwines.com">KLWines.com</a>.
  You can manage these settings at <a href="http://klwines.com/Account/EmailPreferences">http://klwines.com/Account/EmailPreferences</a>
</p>

<p><b>Max Number of Emails in a 30-Day Period:</b> 50</p>

<p>You are now signed up to receive the following emails:</p>

<ul>
  <li>Newsletter 1</li>
  <li>Newsletter 2</li>
  <li>Newsletter 3</li>
  <li>Newsletter 4</li>
  <li>Newsletter 5</li>
  <li>Newsletter 6</li>
  <li>Newsletter 7</li>
</ul>

<!--<p>You have no current email subscriptions.</p>-->
