<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Bid/ShopperName"/>,
				<br/><br/>
				This is a reminder to place your maximum bid on the following lot:<br/>
				<b>
					<xsl:value-of select="Bid/LotVintagePrefix"/><xsl:text> </xsl:text><xsl:value-of select="Bid/LotName"/>
				</b> <br/><br/>

				Although you are currently the high bidder, your maximum bid of <xsl:value-of select="format-number(Bid/MaxBidAmount, '$#,##0.00')"/> is below the reserve. 
				The reserve is the minimum price the seller is willing to accept for his or her wine.
				<br/><br/>
				***IMPORTANT: Unless the reserve is met, you will not win the lot.

				<br/><br/>

				This Auction will be ending on <xsl:value-of select="myutils:ConvertDate(Bid/AuctionEndDate)"/> PT. You can increase your bid by clicking on the following link:<br/><a target="_blank">
					<xsl:attribute name="href">
						<xsl:value-of select="$BaseLinkUrlKey"/>/Auction/Bidding/AuctionBidDetail.aspx?sku=<xsl:value-of select="Bid/Sku"/>
					</xsl:attribute>
					<xsl:value-of select="$BaseLinkUrlKey"/>/Auction/Bidding/AuctionBidDetail.aspx?sku=<xsl:value-of select="Bid/Sku"/>
				</a>
				<br/><br/>


				If you have any questions, you can contact us toll free at 877-559-4637 for customers in the United States, or (650) 591-1705 for international customers.
				<br/><br/>
				You can always view your lot status by going to the My account section of our website, and selecting <a href="http://www.klwines.com/account.asp">Auctions - Buying</a><br/>
				
				<br/><br/>
				Thank you for shopping at K&amp;L Wine Merchants -- we appreciate your business.
				<br/><br/>

				---------------------------------------------------------------------
				<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
				<br/>
				---------------------------------------------------------------------
			</body>
		</html>