<h1 class="page-title">Dear Jonh,</h1>

<p>
  This is a reminder to place your maximum bid on the following lot:
</p>

<p>
  <b>2010 Bois-Malot, Bordeaux Supérieur</b>
</p>

<p>
  Although you are currently the high bidder, your maximum bid of $300.00 is below the reserve.
  The reserve is the minimum price the seller is willing to accept for his or her wine.
</p>

<p>
  <span class="text-brand inline-block">**</span>
  IMPORTANT: Unless the reserve is met, you will not win the lot.
</p>

<p>
  This Auction will be ending on 12/10/19 00:00am PT.
  You can increase your bid by clicking on the following link:
  <a
    target="_blank"
    class="text-brand"
    href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123"
  >
    https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123
  </a>
</p>

<p>
  If you have any questions, you can contact the auction department toll-free at <a href="tel:8775594637" class="link-default">877-559-4637</a>
  (ext 4060) for customers in the United States, or <a href="tel:6505911705" class="link-default">(650) 591-1705</a> for international customers.
</p>

<p>
  You can always view your lot status by going to the My account section of our website,
  and selecting <a href="http://www.klwines.com/account.asp" class="text-brand">Auctions - Buying</a><br/>
</p>

<p class="centered-banner-text">
  Thank you for shopping at <a href="https://www.klwines.com" class="link-default">klwines.com</a>!
</p>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
