	<html>
			<body style="width:400px">
				<br/>
				Thank you for ordering from <a href="klwines.com">klwines.com</a>

				<br/><br/>
				Your order information appears below.  If you need to get in
				touch with us about your order, send an e-mail message to
				<a href="mailto:customerservice@klwines.com">customerservice@klwines.com</a> (or just reply to this message)
				or call 800-247-5987.

				<br/><br/>
				As soon as we receive your order we begin working to pull all the items together, pack the order, and get it shipped out.  We also attempt to schedule shipments at the BEGINNING of the week to avoid letting your wines sit in a carrier's warehouse over the weekend (where we can't control the environmental conditions).  For a detailed explanation of our standard procedures, you can visit this Web page:
				<a href="http://www.klwines.com/transittime.asp">http://www.klwines.com/transittime.asp</a>

				<br/><br/>
				Additionally, you can check the status of your order at:
				<a target="_blank">
					<xsl:attribute name="href">
						<xsl:value-of select="$BaseLinkUrlKey"/>/shopping/receipt.asp?oid=<xsl:value-of select="Order/OrderId"/>&amp;sid=<xsl:value-of select="Order/ShopperNumId"/>
					</xsl:attribute>
					<xsl:value-of select="$BaseLinkUrlKey"/>/shopping/receipt.asp?oid=<xsl:value-of select="Order/OrderId"/>&amp;sid=<xsl:value-of select="Order/ShopperNumId"/>
				</a>
				<xsl:if test="Order/DeliveryMethod = 'Print'">
					<br/><br/>
					To print your gift card please visit
					<a target="_blank">
						<xsl:attribute name="href">
							<xsl:value-of select="$BaseLinkUrlKey"/>/shopping/receipt.asp?oid=<xsl:value-of select="Order/OrderId"/>&amp;sid=<xsl:value-of select="Order/ShopperNumId"/>
						</xsl:attribute>
						<xsl:value-of select="$BaseLinkUrlKey"/>/shopping/receipt.asp?oid=<xsl:value-of select="Order/OrderId"/>&amp;sid=<xsl:value-of select="Order/ShopperNumId"/>
					</a> and press the Print Gift Card button.
				</xsl:if>
				<br/><br/>
				You can also modify your account settings in the My Account section of our website:
				<a href="http://www.klwines.com/account.asp">http://www.klwines.com/account.asp</a>

				<br/><br/>
				-- klwines.com

				<br/><br/>-------------------------------------------------------------------------------<br/><br/>
				Your order reads as follows: <br/><br/>

				E-mail address:	<xsl:value-of select="Order/Email"/><br/><br/>

				Ship to:<br/>
				<font face="arial,helvetica" size="2">
					<xsl:if test="string-length(Order/ShipName) &gt; 0">
						<xsl:value-of select="Order/ShipName"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipCompanyName) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipCompanyName"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipAddress1) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipAddress1"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipAddress2) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipAddress2"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipCity) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipCity"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipStateCD) &gt; 0">
						<xsl:choose>
							<xsl:when test="string-length(Order/ShipCity) &gt; 0">
								<xsl:text>, </xsl:text>
								<xsl:value-of select="Order/ShipStateCD"/>
							</xsl:when>
							<xsl:otherwise>
								<br/>
								<xsl:value-of select="Order/ShipStateCD"/>
							</xsl:otherwise>
						</xsl:choose>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipPostalCode) &gt; 0">
						<xsl:choose>
							<xsl:when test="string-length(Order/ShipCity) &gt; 0 or string-length(Order/ShipStateCD) &gt; 0">
								<xsl:text> </xsl:text>
								<xsl:value-of select="Order/ShipPostalCode"/>
							</xsl:when>
							<xsl:otherwise>
								<br/>
								<xsl:value-of select="Order/ShipPostalCode"/>
							</xsl:otherwise>
						</xsl:choose>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipCountry) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipCountry"/>
					</xsl:if>
					<xsl:if test="string-length(Order/ShipPhone) &gt; 0">
						<br/>
						<xsl:value-of select="Order/ShipPhone"/>
					</xsl:if>
				</font>


				<br/><br/>-------------------------------------------------------------------------------<br/><br/>

				Order # <b>
					<xsl:value-of select="Order/OrderId"/>
				</b>  on <xsl:value-of select="ms:format-date(Order/OrderDate, 'MMM d, yyyy')"/><br/><br/>

				<table border="1" cellpadding="5">
					<th>Quantity</th>
					<th>Item</th>
					<th>Price</th>

					<xsl:for-each select="OrderItem">
						<xsl:choose>
							<xsl:when test="Sku = 500 or Sku = 14">
							</xsl:when>
							<xsl:otherwise>
								<tr>
									<td align="right">
										<xsl:value-of select="Quantity"/>
									</td>
									<td>
										<xsl:value-of select="ItemName"/>
									</td>
									<td align="right">
										<xsl:value-of select="format-number(Price, '$#,##0.00')"/>
									</td>
								</tr>
							</xsl:otherwise>
						</xsl:choose>
					</xsl:for-each>

					<xsl:for-each select="OrderItem">
						<xsl:if test="RowId = 1">
							<tr>
								<td></td>
								<td align="right">Subtotal</td>
								<td align="right">
									<xsl:value-of select="format-number(Price, '$#,##0.00')"/>
								</td>
							</tr>
							<tr>
								<td></td>
								<td align="right">Tax</td>
								<td align="right">
									<xsl:value-of select="format-number(TaxAmount, '$#,##0.00')"/>
								</td>
							</tr>
						</xsl:if>

						<xsl:if test="Sku = 500 and Price &gt; 0">
							<tr>
								<td></td>
								<td align="right">Shipping</td>
								<td align="right">
									<xsl:value-of select="format-number(Price, '$#,##0.00')"/>
								</td>
							</tr>
						</xsl:if>

						<xsl:if test="Sku = 14 and Price &gt; 0">
							<tr>
								<td></td>
								<td align="right">Insurance</td>
								<td align="right">
									<xsl:value-of select="format-number(Price, '$#,##0.00')"/>
								</td>
							</tr>
						</xsl:if>
					</xsl:for-each>

					<tr>
						<td></td>
						<td align="right">Total</td>
						<td align="right">
							<xsl:value-of select="format-number(Order/Total, '$#,##0.00')"/>
						</td>
					</tr>
				</table>

				<br/><br/>Shipment Method: <xsl:value-of select="Order/ShipMethod"/><br/><br/><br/>

				Thank you for shopping at klwines.com!

				<br/><br/>-------------------------------------------------------------------------------<br/><br/>

				KL Wine Merchants<br/><br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/><br/>

				<a href="mailto:questions@klwines.com">questions@klwines.com</a> , <a href="klwines.com">http://www.klwines.com/</a>

				<br/><br/>-------------------------------------------------------------------------------<br/><br/>
			</body>
		</html>