<h1>
  <p></p>
  <p>
    Gift Card Details:
  </p>
</h1>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td class="space-right">
      <b>CardNumber:</b>
    </td>
    <td align="left">
      777-888-555-999-111
    </td>
  </tr>
  <tr>
    <td class="space-right">
      <b>PIN:</b>
    </td>
    <td align="left">
      4445
    </td>
  </tr>
  <tr>
    <td class="space-right">
      <b>Amount:</b>
    </td>
    <td align="left">
      $7,777.00
    </td>
  </tr>
  <tr>
    <td class="space-right" >
      <b>Purchase Date:</b>
    </td>
    <td align="left">
      1/05/2019
    </td>
  </tr>
  <tr>
    <td class="space-right">
      <b>Gift To:</b>
    </td>
    <td align="left">
      John Doe
    </td>
  </tr>
  <tr>
    <td class="space-right">
      <b>Gift From:</b>
    </td>
    <td align="left">
      Jane Doe
    </td>
  </tr>
  <tr>
    <td class="space-right">
      <b>	Message:</b>
    </td>
    <td align="left">
      Happy shopping!
    </td>
  </tr>
</table>

<p>
  <b>Note:</b> It may take up to 48 hours to activate your gift card from purchase date.<br/><br/>
  You can redeem this Gift Card either online at <a href="https://klwines.com">www.klwines.com</a>,
  phone <a href="tel:8775594637">877-559-4637</a>(Toll Free) or in our retail stores. K&amp;L Gift Cards never expire.
</p>
