<html xmlns="http://www.w3.org/1999/xhtml">
<body>
    @if (!string.IsNullOrWhiteSpace(Model.GiftMessage.FromName))
    {
        <p>You have received a gift from @Model.GiftMessage.FromName.</p>
    }
    else
    {
        <p>You have received a gift</p>    
    }

    <p>The gift order information appears below.  If you need to get in touch with us about your order, send an e-mail message to customerservice@klwines.com (or just reply to this message) or call 800-247-5987.</p>

    <p>
        As soon as we receive the order we begin working to pull all the items together, pack the order, and get it shipped out.
    </p>

    <p>You will receive another email when order is shipped or ready for pickup.</p>

    <p>Your gift order as follows:</p>

    <p>E-mail address: @Model.GiftMessage.RecipientEmail</p>

    <div>Ship to:</div>
    <div>@Model.ShippingAddress.Name</div>
    @if (Model.ShippingAddress.CompanyName != null && Model.ShippingAddress.CompanyName.Length > 0)
    { 
        <div>@Model.ShippingAddress.CompanyName</div>
    }
    @if (Model.ShippingAddress.CompanyName != null && Model.ShippingAddress.CompanyName.Length > 0)
    { 
        <div>@Model.ShippingAddress.CompanyName</div>
    }
    <div>@Model.ShippingAddress.Address1</div>
    @if (Model.ShippingAddress.Address2 != null && Model.ShippingAddress.Address2.Length > 0)
    { 
        <div>@Model.ShippingAddress.Address2</div>
    }

    <div>@Model.ShippingAddress.City, @Model.ShippingAddress.StateCD @Model.ShippingAddress.PostalCode</div>
    <div>@Model.ShippingAddress.Country</div>
    <div style="margin-top: 15px;">Tel: @Model.ShippingAddress.Phone</div>
    <p>------------------------------------------------------------</p>
    @foreach (var shipment in Model.Shipments)
    {
        <div style="margin-bottom: 15px; margin-top: 15px;">Order# @shipment.OrderId on @Model.OrderDate.ToShortDateString()</div>

        <table>
            @foreach (var shipmentItem in shipment.Items)
            {
                <tr>
                    <td>
                        <img src="http://www.klwines.com/@(shipmentItem.MediumImageURL)" /></td>
                    <td>@shipmentItem.DisplayName</td>
                    <td style="font-style: italic">(qty: @shipmentItem.Quantity)</td>
                </tr>
            }
        </table>

        <div style="margin-top: 15px">Shipment Method: @shipment.ShipwayDescription</div>
        
            if (!string.IsNullOrWhiteSpace(shipment.ShipwayCode) &&
                                (shipment.ShipwayCode.ToLower().Contains("willcall") || shipment.ShipwayCode.ToLower().Contains("hold")))
            {
        <br />
        <div>Due to space limitations, we need you to take possession of all will calls and holds within 90 days of the order date. Thank you for your cooperation.</div>    
            }

            if (Model.GiftMessage != null && !string.IsNullOrWhiteSpace(Model.GiftMessage.GiftMessage))
            {
        <div>Gift Message: @Model.GiftMessage.GiftMessage</div>
            }
    }

    <p>Thank you for shopping at klwines.com!</p>
    <p>-------------------------------------------------------------</p>

    <div>klwines.com</div>
    <div>"Internet's Best Wine Shop"</div>
    <div>-Money Magazine</div>
    <div>http://www.klwines.com</div>
</body>
</html>