<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Bid/ShopperName"/>,
				<br/><br/>
				Due to your non acceptance of the winning bid or your credit card’s failure to authorize
				the purchase price of the auction lot, your bid has been invalidated and you are no longer
				the winner of the item.<br/><br/>
				An auction director will be in touch with you shortly to discuss the matter and determine any necessary next steps.<br/><br/>
				<b>
					<xsl:value-of select="Bid/LotVintagePrefix"/><xsl:text> </xsl:text><xsl:value-of select="Bid/LotName"/>
				</b><br/><br/>
				<table>
					<tr>
						<td>
							Your Maximum Bid:
						</td>
						<td>
							<xsl:value-of select="format-number(Bid/MaxBidAmount, '$#,##0.00')"/>
						</td>
					</tr>
					<tr>
						<td>
							Auction End Time:
						</td>
						<td>
							<xsl:value-of select="myutils:ConvertDate(Bid/AuctionEndDate)"/> PT
						</td>
					</tr>
				</table>
				<br/>
				<br/>


        If you have any questions, you can contact the auction department toll free at 877-559-4637 (ext 4060) for customers in the United States, or (650) 591-1705 for international customers.
        <br/><br/>

				---------------------------------------------------------------------
				<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
				<br/>
				---------------------------------------------------------------------
				<br/>
			</body>
		</html>