<p>&nbsp;</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <p>MESSAGE:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>SENT BY:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>STATION:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>AT TIME:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Order:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Status:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>EMail:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Comments:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Ship-To:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Ship via:</p>
    </td>

    <td>
      <p>
        placeholder
      </p>
    </td>
  </tr>

  <tr>
    <td>
      Tracker:
    </td>

    <td>
      placeholder
    </td>
  </tr>
</table>
