<p>&nbsp;</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <p>OrderID:</p>
    </td>

    <td>
      <p>
        OrderID
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>ShopperID:</p>
    </td>

    <td>
      <p>
        (OrgShopperNumID) OrgShopperName
      </p>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>

  <tr>
    <td>
      <p>Card:</p>
    </td>

    <td>
      <p>
        CardType CardNum
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>CCID:</p>
    </td>

    <td>
      <p>
        CCID
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>ShopperID:</p>
    </td>

    <td>
      <p>
        (ShopperNumID) ShopperName
      </p>
    </td>
  </tr>

  <tr><td colspan="2">&nbsp;</td></tr>

  <tr>
    <td>
      <p>TimeStamp:</p>
    </td>

    <td>
      <p>
        TimeStamp
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>User:</p>
    </td>

    <td>
      <p>
        (UserID) UserName
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Location:</p>
    </td>

    <td>
      <p>
        (LocationID) LocationName
      </p>
    </td>
  </tr>

  <tr>
    <td>
      Station:
    </td>

    <td>
      StationCD
    </td>
  </tr>
</table>
