<p>&nbsp;</p>

<p>
  Hello from klwines.com, and welcome to our online community.
  K&L Wine Merchants brings you an exciting experience whether you
  are a newcomer to wine or a seasoned taster.
</p>

<p>

</p>

<p>
  Be sure to visit us online at <a href="https://www.klwines.com" class="text-brand">https://www.klwines.com</a> and check
  out our many exciting and useful resources, including:
</p>

<ul>
  <li>Extensive inventory of wines and spirits</li>
  <li>Easy search</li>
  <li>Tasting notes</li>
  <li>Wine accessories</li>
  <li>and much more</li>
</ul>

<p>
  <span class="text-brand inline-block">**</span>
  IMPORTANT:
  Here is your account's Online ID and Password. This is very
  confidential information, and you may want to go to our web site
  and use our secure account management form to change this password.
</p>

<table class="bordered-container" width="100%" style="table-layout: fixed">
  <tr>
    <td><p>Your name is recorded as:</p></td>
    <td><p>name</p></td>
  </tr>

  <tr>
    <td><p>Your Online ID is:</p></td>
    <td><p>onlineID</p></td>
  </tr>

  <tr>
    <td><p>Your Password is:</p></td>
    <td><p>password</p></td>
  </tr>

  <tr>
    <td><p>Account created:</p></td>
    <td><p>tscreated</p></td>
  </tr>

  <tr>
    <td>Time sent:</td>
    <td>tssent</td>
  </tr>
</table>

<p>
  To see the latest information about your orders, visit "My Account" at
  <a href="http://www.klwines.com/account.asp" class="text-brand">http://www.klwines.com/account.asp</a>. "My Account" lets you manage
  your orders online, and edit your customer information.
</p>

<p>
  You can also reach "My Account" by clicking on the link on the
  top of any page on our Web site.
</p>

<p>
  If you need to get in touch with us about your account, send an
  e-mail message to <a href="mailto:customerservice@klwines.com">customerservice@klwines.com</a>, contact us via
  phone (<a href="tel:8002475987" class="link-default">800-247-5987</a> or
  <a href="tel:6503648544" class="link-default">650-364-8544</a>), or by FAX (<a href="tel:6503644687" class="link-default">650-364-4687</a>).
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "questions@klwines.com"}) %>
