<p>&nbsp;</p>
<h1>
  <p>
    Unfortunately, we've had a problem processing the credit card on
  </p>
</h1>

<h1>
  <p>
    Order #123156-588
  </p>
</h1>

<p>
  Additional comments for this order: placeholder
</p>

<p>
  Can you please provide us with an alternate credit card or other
  instructions so that we can continue to process your order?
  Thank you for your help.
</p>

<p>
  Please contact us at <a href="tel:8002475987" class="link-default">800-247-5987</a> or by email at
  <a href="mailto:customerservice@klwines.com">customerservice@klwines.com</a> and reference order #123156-588
</p>

<h1>The following items are included in this order:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/auctions/0131962177755079046.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  qty: 6,
  price: '$5,634.00'
}, {
  img: 'https://www.klwines.com//images/auctions/0131962177880610459.jpg',
  name: '2013 Screaming Eagle Napa Valley Cabernet Sauvignon (OWC)',
  qty: 3,
  price: '$6,300.00'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$11,934.00',
  salesTax: '$2,386.60',
  total: '$14,320.00'
}) %>

<p>
  To see the latest information about your order, visit "My Account" at
  <a href="https://www.klwines.com/account.asp" class="text-brand">https://www.klwines.com/account.asp</a>. "My Account" lets you manage
  your orders online by giving you the ability to do the following:
</p>

<ul>
  <li>
    See your order status
  </li>

  <li>
    Change your e-mail address or password
  </li>

  <li>
    Update your billing and shipping information for future orders
  </li>
</ul>

<p>
  You can also reach "My Account" by clicking on the link on the
  top of any page on our Web site.
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "questions@klwines.com"}) %>
