<p>&nbsp;</p>

<p>
  We are sorry to inform you that there is a problem with your order #{{orderID}}
</p>

<p>
  Due to state laws where the order is being shipped, we are unable to send any distilled spirits (liquor) to the address.
  We have removed that portion of the order.  If there are no other products on the other aside from the distilled spirits, we have cancelled the order.
  Please accept our apology - we have no control over the laws within the state where the order was to be shipped.
</p>

<p>
  If you have any questions you can reply to this email or contact us at 877-KLWines (<a href="tel:8775594637" class="link-default">877-559-4637</a>) (toll free).
</p>

<h1>The following items are included in this order:</h1>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/auctions/0131962177755079046.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  qty: 6,
  price: '$5,634.00'
}, {
  img: 'https://www.klwines.com//images/auctions/0131962177880610459.jpg',
  name: '2013 Screaming Eagle Napa Valley Cabernet Sauvignon (OWC)',
  qty: 3,
  price: '$6,300.00'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$11,934.00',
  salesTax: '$2,386.60',
  total: '$14,320.00'
}) %>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "customerservice@klwines.com"}) %>
