<html xmlns="http://www.w3.org/1999/xhtml">
<body>

    <p>Hello,</p>
    <p>Thank you for choosing K&L Wine Merchants!</p>

    <p>This email confirms that we have received your Local Delivery order(s). If you need to schedule or modify your Local Delivery date and delivery window, please visit the following link @(System.Configuration.ConfigurationManager.AppSettings["ClassicWebUri"] + @Model.OrderStatusLink).</p>

    <p>If you have any questions, please contact our Customer Service team through email at customerservice@klwines.com or by calling them toll free at 877-559-4637.</p>

    <div>K&L Wine Merchants</div>
    <div>"Internet's Best Wine Shop"</div>
    <div>-Money Magazine</div>
    <div>http://www.klwines.com</div>
    <div>800-247-5987</div>
    <div>orders@klwines.com</div>

</body>
</html>
