<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Bid/ShopperName"/>,
				<br/><br/>
				We are sorry to inform you that the following auction lot has been cancelled due to the following reason: <xsl:value-of select="Bid/StatusChangeReason"/>:<br/>
				<b>
					<xsl:value-of select="Bid/LotVintagePrefix"/><xsl:text> </xsl:text><xsl:value-of select="Bid/LotName"/>
				</b> 
				<br/><br/>
				Although this action was taken to prevent any corruption to this auction lot, we sincerely apologize for any inconvenience this may have caused.
				<br/><br/>
				If you have any questions, you can contact us toll free at 877-559-4637 for customers in the United States, or (650) 591-1705 for international customers.
				<br/><br/>
				You can always view your lot status by going to the My account section of our website, and selecting "Auctions - Buying":<br/>
				<a href="http://www.klwines.com/account.asp">http://www.klwines.com/account.asp</a>
				<br/><br/>
				Thank you for shopping at K&amp;L Wine Merchants -- we appreciate your business.
				<br/><br/>

				---------------------------------------------------------------------
				<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
				<br/>
				---------------------------------------------------------------------
			</body>
		</html>