<h1 class="page-title">Dear John,</h1>

<p>
  We are sorry to inform you that the following auction lot has been cancelled due to the following reason: Bid/StatusChangeReason
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<p>
  Although this action was taken to prevent any corruption to this auction lot, we sincerely apologize for any inconvenience this may have caused.
</p>

<p>
  If you have any questions, you can contact us toll free at <a href="tel:8775594637" class="link-default">877-559-4637</a> (ext 4060)
  for customers in the United States, or <a href="tel:6505911705" class="link-default">(650) 591-1705</a> for international customers.
</p>

<p>
  You can always view your lot status by going to the My account section of our website,
  and selecting <a href="http://www.klwines.com/account.asp" class="text-brand">Auctions - Buying</a><br/>
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "questions@klwines.com"}) %>
