<h1 class="page-title">Dear Jonh,</h1>

<p>
  Congratulations! We are happy to inform you that the payment in the amount of
  $500.00 is in the mail for the auction lot listed below.
</p>

<p>
  If you need to get in
  touch with us about your lot, send an e-mail message to
  <a href="mailto:auctionreview@klwines.com">auctionreview@klwines.com</a>
  or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.
</p>

<p>
  <a target="_blank" class="text-brand" href="https://www.klwines.com/p/i?i=1403310">Click here</a>&nbsp;to view the auction screen for your lot.
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<p>
  Description: <b>Lot description goes here</b>
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Auction Start Time/Date:</p>
    </td>
    <td>
      <p><a href="#" class="link-default">04/17/2018 03:32pm PT</a></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Auction End Time/Date:</p>
    </td>
    <td>
      <p><a href="#" class="link-default">04/18/2018 03:32pm PT</a></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Minimum Bid Price</p>
    </td>
    <td>
      <p>$150.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Listing Fee:</p>
    </td>
    <td>
      <p>$15.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Featured Lot Fee:</p>
    </td>
    <td>
      <p>$15.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Shipping Material Delivery Cost:</p>
    </td>
    <td>
      <p>$5.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Inbound Shipping Cost:</p>
    </td>
    <td>
      <p>$38.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Final Value Fee:</p>
    </td>
    <td>
      <p>$5.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Total Fees:</p>
    </td>
    <td>
      <p>$63.00</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Purchase Price:</p>
    </td>
    <td>
      <p>$363.00</p>
    </td>
  </tr>
</table>


<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
