<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Lot/ShopperName"/>,
				<br/><br/>
				We are sorry to inform you that your auction lot was cancelled for the following reason: <xsl:value-of select="Lot/StatusChangeReason"/>. In an 
				effort to keep the integrity of your lot, we needed to cancel the current auction.  We apologize 
				for the inconvenience and will work with you to relist this lot under the same terms &amp; 
				conditions previously discussed.

				<br/><br/>
				An auction director will get in touch with you shortly to discuss next steps.

				<br/><br/>
				If you need to get in
				touch with us about your lot, send an e-mail message to
				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
				or call 650-591-1705.

				<br/><br/>

				Lot Name: <xsl:value-of select="Lot/LotVintagePrefix"/><xsl:text> </xsl:text><xsl:value-of select="Lot/LotName"/><br/>
				Description: <xsl:value-of select="Lot/LotDescription"/><br/>
				Auction Start Date: <xsl:value-of select="ms:format-date(Lot/AuctionStartDate, 'MMM d, yyyy')"/><br/>
				Auction End Date: <xsl:value-of select="ms:format-date(Lot/AuctionEndDate, 'MMM d, yyyy')"/>
				<br/>

				<xsl:if test="string-length(Lot/ListingFee) &gt; 0">
					<br/> Listing Fee: <xsl:value-of select="format-number(Lot/ListingFee, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/ShippingMaterialDeliveryCost) &gt; 0">
					<br/> Shipping Material Delivery Cost: <xsl:value-of select="format-number(Lot/ShippingMaterialDeliveryCost, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/InboundShippingCost) &gt; 0">
					<br/> Inbound Shipping Cost: <xsl:value-of select="format-number(Lot/InboundShippingCost, '$#,##0.00')"/>
				</xsl:if>

				<br/><br/>

				Thank you for working with K&amp;L Wine Merchants!

				<br/><br/>-------------------------------------------------------------------------------<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>

				<br/>-------------------------------------------------------------------------------<br/><br/>
			</body>
		</html>