<html>
			<body style="width:400px">
				<br/>
				Dear <xsl:value-of select="Lot/ShopperName"/>,
				<br/><br/>
				Congratulations! We are happy to inform you that the payment in the amount of <xsl:value-of select="format-number(Lot/PaymentDue, '$#,##0.00')"/> is in the mail for the auction lot listed below.

				<br/><br/>
				If you need to get in
				touch with us about your lot, send an e-mail message to
				<a href="mailto:auctionreview@klwines.com">auctionreview@klwines.com</a>
				or call 650-591-1705.

				<br/><br/>

				<a target="_blank">
					<xsl:attribute name="href">
						<xsl:value-of select="$BaseLinkUrlKey"/>/Auction/Bidding/AuctionBidDetail.aspx?sku=<xsl:value-of select="Lot/SKU"/>
					</xsl:attribute>
					Click here
				</a>
				to view the auction screen for your lot.
				<br/><br/>

				Lot Name: <xsl:value-of select="Lot/LotVintagePrefix"/><xsl:text> </xsl:text><xsl:value-of select="Lot/LotName"/><br/>
				Description: <xsl:value-of select="Lot/LotDescription"/><br/>
				Auction Start Date: <xsl:value-of select="ms:format-date(Lot/AuctionStartDate, 'MMM d, yyyy')"/><br/>
				Auction End Date: <xsl:value-of select="ms:format-date(Lot/AuctionEndDate, 'MMM d, yyyy')"/>
				<br/>

				<xsl:if test="string-length(Lot/MinimumBidPrice) &gt; 0">
					<br/>Minimum Bid Price:
					<xsl:value-of select="format-number(Lot/MinimumBidPrice, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/ListingFee) &gt; 0">
					<br/> Listing Fee: <xsl:value-of select="format-number(Lot/ListingFee, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/FeaturedLotUpgradeFee) &gt; 0">
					<br/> Featured Lot Fee: <xsl:value-of select="format-number(Lot/FeaturedLotUpgradeFee, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/ShippingMaterialDeliveryCost) &gt; 0">
					<br/> Shipping Material Delivery Cost: <xsl:value-of select="format-number(Lot/ShippingMaterialDeliveryCost, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/InboundShippingCost) &gt; 0">
					<br/> Inbound Shipping Cost: <xsl:value-of select="format-number(Lot/InboundShippingCost, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/KLCommissionValue) &gt; 0">
					<br/> Final Value Fee: <xsl:value-of select="format-number(Lot/KLCommissionValue, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/TotalFees) &gt; 0">
					<br/> Total Fees: <xsl:value-of select="format-number(Lot/TotalFees, '$#,##0.00')"/>
				</xsl:if>

				<xsl:if test="string-length(Lot/SalesPrice) &gt; 0">
					<br/>Purchase Price:
					<xsl:value-of select="format-number(Lot/SalesPrice, '$#,##0.00')"/>
				</xsl:if>


				<br/><br/>

				Thank you for using klwines.com for your auction needs!

				<br/><br/>-------------------------------------------------------------------------------<br/><br/>

				KL Wine Merchants<br/><br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/><br/>

				<a href="mailto:questions@klwines.com">questions@klwines.com</a> , <a href="klwines.com">http://www.klwines.com/</a>

				<br/><br/>-------------------------------------------------------------------------------<br/><br/>
			</body>
		</html>