
<h1 class="page-title">Dear Jonh,</h1>

<p>
  We are sorry to inform you that your auction lot listed below was not sold.
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <p>Reserve Price:</p>
    </td>
    <td>
      <p><b>$200.00</b></p>
    </td>
  </tr>
  <tr>
    <td>
      <p>Auction Start Date:</p>
    </td>
    <td>
      <p><b>05/08/2019</b></p>
    </td>
  </tr>
  <tr>
    <td>
      Auction End Date:
    </td>
    <td>
      <b>05/09/2019</b>
    </td>
  </tr>
</table>

<p>
  Please reply to this email with your preference:
</p>

<ol>
  <li>Withdraw lot from the auction and return wine (specify willcall, return shipment, or pick-up at auction warehouse).</li>
  <li>Relist at a lowered reserve for another 7-day auction.</li>
  <li>Request a direct purchase offer from K&amp;L to buy wine.</li>
</ol>

<p>
  If you would like to relist the lot or receive an offer, your K&amp;L Auction Buyer will get it touch with a proposal shortly.
</p>

<p>
  <a
    target="_blank"
    href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=1403810"
    class="text-brand"
  >
    Click Here
  </a> to view the auction screen for your lot.
</p>

<p>
  If you need to get in
  touch with us about your lot, send an e-mail message to
  <a href="mailto:auction@klwines.com">auction@klwines.com</a>
  or call <a href="tel:8775594637" class="link-default">877-559-4637</a> (ext 4060).
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
