<html>
			<body style="width:400px">
				<br/>
				<h1 class="page-title">Dear Jonh,</h1>
				<br/><br/>
        We are sorry to inform you that your auction lot listed below was not sold.<br/><br/>

        Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
        Reserve Price: <xsl:value-of select="format-number(Lot/ReservePrice, '$#,##0.00')"/><br/>
        Auction Start Date: <xsl:value-of select="ms:format-date(Lot/AuctionStartDate, 'MMM d, yyyy')"/><br/>
        Auction End Date: <xsl:value-of select="ms:format-date(Lot/AuctionEndDate, 'MMM d, yyyy')"/>
        <br/>
				
				<br/><br/>
        Please reply to this email with your preference:<br/>
        <ol>
          <li>Withdraw lot from the auction and return wine (specify willcall, return shipment, or pick-up at auction warehouse).</li>
          <li>Relist at a lowered reserve for another 7-day auction.</li>
          <li>Request a direct purchase offer from K&amp;L to buy wine.</li>
        </ol><br/>
        If you would like to relist the lot or receive an offer, your K&amp;L Auction Buyer will get it touch with a proposal shortly.

        <br/><br/>


        Click <a target="_blank">
          <xsl:attribute name="href">
            <xsl:value-of select="$BaseLinkUrlKey"/>/Auction/Bidding/AuctionBidDetail.aspx?sku=<xsl:value-of select="Lot/SKU"/>
          </xsl:attribute>here
        </a>
        to view the auction screen for your lot.
        <br/><br/>
        
        If you need to get in
        touch with us about your lot, send an e-mail message to
        <a href="mailto:auction@klwines.com">auction@klwines.com</a>
        or call 877-559-4637 (ext 4060).

        <br/><br/>				

				Thank you for using K&amp;L Wine Merchants for your auction needs!

				<br/><br/>-------------------------------------------------------------------------------<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>

				<br/>-------------------------------------------------------------------------------<br/>
			</body>
		</html>
