<h1 class="page-title">Dear John,</h1>

<p>
  This is a confirmation that we have shipped your auction packing supplies to the address below:
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <b>Lot Items Pick-Up Address: </b>

      PickUpAddressName,
      PickUpCompanyName,
      PickUpAddress1,
      PickUpAddress2,
      PickUpCity,
      PickUpStateCD,
      PickUpPostalCode,
      PickUpCountry
    </td>
  </tr>
</table>

<p>
  Please refer to the directions on the shipping materials in order
  to pack your items securely for safe return to our fulfillment center.
  You will receive an email confirmation when we have received your auction items.
</p>

<p>
  If you have any questions regarding the shipment of your items or do not receive
  your packing materials, please send an e-mail message to
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a> or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.
</p>

<p>
  You can always view your lot status by going to the My Account section of our website, and selecting "Auctions -
  Selling":
  <a href="http://www.klwines.com/account.asp" class="text-brand">http://www.klwines.com/account.asp</a>
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<p>
  Description: <b>Lot description goes here</b>
</p>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1403310x.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  link: 'https://www.klwines.com/p/i?i=1403310',
  qty: 1,
  bottleSize: 0.75,
  price: '$224.00'
}, {
  img: 'https://www.klwines.com//images/skus/1178723l.jpg',
  name: '2010 Bois-Malot, Bordeaux Supérieur',
  qty: 1,
  bottleSize: 0.75,
  price: '$10.99'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$234.99',
  salesTax: '$5.00',
  total: '$239.99'
}) %>

<p class="centered-banner-text">
  Thank you for working with K&amp;L Wine Merchants!
</p>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>


