<h1 class="page-title">Dear Jonh,</h1>

<p>
  This is a confirmation that we have reviewed and approved your auction
  lot items. Below are the final terms for your auction:
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Your Auction Start Time/Date:</p>
    </td>
    <td>
      <p><a href="#" class="link-default">04/17/2018 03:32pm PT</a></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Your Auction End Time/Date:</p>
    </td>
    <td>
      <p><a href="#" class="link-default">04/18/2018 03:32pm PT</a></p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Reserve: </p>
    </td>
    <td>
      <p><b>$300.00</b></p>
    </td>
  </tr>

  <tr>
    <td>
      Starting Bid:
    </td>
    <td>
      <b>$200.00</b>
    </td>
  </tr>
</table>


<p>
  <span class="text-brand inline-block">**</span>IMPORTANT: Please see K&amp;L Wine Auctions Terms &amp; Conditions below.
  You must reply to this email accepting these Terms &amp; Conditions in
  order to proceed with this auction lot.
</p>

<p>
  If you need to get in touch with us about your lot, send an e-mail message to
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
  or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.
</p>

<p>
  You can always view your lot details by going to the "Auctions - Selling" link in the My account section of our website:<br/>
  <a href="http://www.klwines.com/account.asp" class="text-brand">http://www.klwines.com/account.asp</a>
</p>

<p>
  Lot Name: <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<p>
  Description: <b>Lot description goes here</b>
</p>

<%- include('./src/shared/order', { items: [{
  img: 'https://www.klwines.com//images/skus/1403310x.jpg',
  name: '2013 Harlan Estate Napa Valley Bordeaux Blend (OWC)',
  link: 'https://www.klwines.com/p/i?i=1403310',
  qty: 1,
  bottleSize: 0.75,
  price: '$224.00'
}, {
  img: 'https://www.klwines.com//images/skus/1178723l.jpg',
  name: '2010 Bois-Malot, Bordeaux Supérieur',
  qty: 1,
  bottleSize: 0.75,
  price: '$10.99'
}]}) %>

<%- include('./src/shared/total', {
  subtotal: '$234.99',
  salesTax: '$5.00',
  total: '$239.99'
}) %>

<%- include('./src/shared/termsAndConditions') %>

