<html>
			<body style="width:400px">
				<br/>
				<h1 class="page-title">Dear Jonh,</h1>
				<br/><br/>

				Thank you for submitting your auction application for review.

				<br/><br/>
				An auction director will get in touch with you in the next 3 - 5 days to discuss your lot and its
				estimated value, shipping or drop-off arrangements to our facility and to review the K&amp;L Wine Auctions process.

				<br/><br/>
				The details of your account appear below. If you need to get in
				touch with us about your lot, send an e-mail message to
				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
				or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.

				<br/><br/>

				You can always view your lot status by going to the My Account section of our website, and selecting "Auctions - Selling":<br/>
				<a href="http://www.klwines.com/account.asp" class="text-brand">http://www.klwines.com/account.asp</a>

				<br/><br/>
				Your Payment Address:<br/>
				<xsl:if test="string-length(Lot/PaymentAddressName) &gt; 0">
					<xsl:value-of select="Lot/PaymentAddressName"/>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentCompanyName) &gt; 0">
					<br/>
					<xsl:value-of select="Lot/PaymentCompanyName"/>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentAddress1) &gt; 0">
					<br/>
					<xsl:value-of select="Lot/PaymentAddress1"/>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentAddress2) &gt; 0">
					<br/>
					<xsl:value-of select="Lot/PaymentAddress2"/>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentCity) &gt; 0">
					<br/>
					<xsl:value-of select="Lot/PaymentCity"/>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentStateCD) &gt; 0">
					<xsl:choose>
						<xsl:when test="string-length(Lot/PaymentCity) &gt; 0">
							<xsl:text>, </xsl:text>
							<xsl:value-of select="Lot/PaymentStateCD"/>
						</xsl:when>
						<xsl:otherwise>
							<br/>
							<xsl:value-of select="Lot/PaymentStateCD"/>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentPostalCode) &gt; 0">
					<xsl:choose>
						<xsl:when test="string-length(Lot/PaymentCity) &gt; 0 or string-length(Lot/PaymentStateCD) &gt; 0">
							<xsl:text> </xsl:text>
							<xsl:value-of select="Lot/PaymentPostalCode"/>
						</xsl:when>
						<xsl:otherwise>
							<br/>
							<xsl:value-of select="Lot/PaymentPostalCode"/>
						</xsl:otherwise>
					</xsl:choose>
				</xsl:if>
				<xsl:if test="string-length(Lot/PaymentCountry) &gt; 0">
					<br/>
					<xsl:value-of select="Lot/PaymentCountry"/>
				</xsl:if>

				<br/><br/>
				<xsl:choose>
					<xsl:when test="string-length(Lot/DropOffShipWayCd) &gt; 0">
						Your Lot Items Drop-Off Location:<br/>
						<xsl:text> </xsl:text>
						<xsl:value-of select="Lot/ShipWayDescription"/>
						<br/><br/>
						Please 
						<a target="_blank">
							<xsl:attribute name="href">
								<xsl:value-of select="$BaseLinkUrlKey"/>/Auction/AuctionLot/AuctionLotList.aspx
							</xsl:attribute>
							print
						</a> 
						your drop-off form and bring this form along with your auction items to the K&amp;L Wine Merchants location designated above.
					</xsl:when>
					<xsl:otherwise>
						Your Lot Items Pick-Up Address:<br/>
						<xsl:if test="string-length(Lot/PickUpAddressName) &gt; 0">
							<xsl:value-of select="Lot/PickUpAddressName"/>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpCompanyName) &gt; 0">
							<br/>
							<xsl:value-of select="Lot/PickUpCompanyName"/>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpAddress1) &gt; 0">
							<br/>
							<xsl:value-of select="Lot/PickUpAddress1"/>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpAddress2) &gt; 0">
							<br/>
							<xsl:value-of select="Lot/PickUpAddress2"/>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpCity) &gt; 0">
							<br/>
							<xsl:value-of select="Lot/PickUpCity"/>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpStateCD) &gt; 0">
							<xsl:choose>
								<xsl:when test="string-length(Lot/PickUpCity) &gt; 0">
									<xsl:text>, </xsl:text>
									<xsl:value-of select="Lot/PickUpStateCD"/>
								</xsl:when>
								<xsl:otherwise>
									<br/>
									<xsl:value-of select="Lot/PickUpStateCD"/>
								</xsl:otherwise>
							</xsl:choose>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpPostalCode) &gt; 0">
							<xsl:choose>
								<xsl:when test="string-length(Lot/PickUpCity) &gt; 0 or string-length(Lot/PickUpStateCD) &gt; 0">
									<xsl:text> </xsl:text>
									<xsl:value-of select="Lot/PickUpPostalCode"/>
								</xsl:when>
								<xsl:otherwise>
									<br/>
									<xsl:value-of select="Lot/PickUpPostalCode"/>
								</xsl:otherwise>
							</xsl:choose>
						</xsl:if>
						<xsl:if test="string-length(Lot/PickUpCountry) &gt; 0">
							<br/>
							<xsl:value-of select="Lot/PickUpCountry"/>
						</xsl:if>
					</xsl:otherwise>
				</xsl:choose>

				<br/><br/><br/>

				Thank you for working with K&amp;L Wine Merchants!

				<br/><br/>-------------------------------------------------------------------------------<br/>

				K&amp;L Wine Merchants<br/>

				"Internet's Best Wine Site"  -- Money Magazine<br/>

				<a href="mailto:auctions@klwines.com">auctions@klwines.com</a>

				<br/>-------------------------------------------------------------------------------<br/>
			</body>
		</html>
