<%- include('./src/shared/header') %>

<tr>
  <td align="center" valign="top">
    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0">
      <tr height="2">
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="7%">&nbsp;</td>

              <td width="76%" class="page-header">
                <h1 class="page-title">Password Reset</h1>
                <h3 class="page-subtitle">
                  Greetings from <a href="https://www.klwines.com/" class="link-default">klwines.com</a>.
                </h3>
              </td>

              <td width="7%">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="7%">&nbsp;</td>
              <td width="76%">
                <p>
                  We received a request to reset the password associated with this e-mail address.
                  If you made this request, please follow the instructions below.
                </p>

                <p>
                  If you did not request to have your password reset, please ignore this email.
                  Rest assured your customer account is safe.
                </p>

                <div class="bordered-container">
                  <p>
                    Click the link below to go to reset your password using our secure server:
                  </p>

                  <b>
                    <a href="https://beta.klwines.com/Account/PasswordReset?guid=087f1d3f-35e5-467c-8e18-7e5e10a82f64"
                       class="text-brand text-regular">
                      https://beta.klwines.com/Account/PasswordReset?guid=087f1d3f-35e5-467c-8e18-7e5e10a82f64
                    </a>
                  </b>
                </div>

                <p>
                  If the link doesn't work, you can copy and paste the link into your browser's address window, or
                  retype it there.
                  Once you have returned to <a href="https://www.klwines.com/" class="link-default">klwines.com</a>, we
                  will give instructions for resetting your password.
                </p>
              </td>
              <td width="7%">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="7%">&nbsp;</td>
              <td width="76%">
                <p>
                  <b class="d-block">K & L Wine Merchants</b>
                  <a href="http://www.klwines.com" class="text-brand d-block">http://www.klwines.com</a>
                  <span class="d-block">
                      Phone: <a href="tel:8002475987" class="link-default">800-247-5987</a>
                    </span>
                  Email: <a href="mailto:customerservice@klwines.com" class="text-brand">customerservice@klwines.com</a>
                </p>
              </td>
              <td width="7%">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      <tr height="5">
        <td></td>
      </tr>
    </table>
  </td>
</tr>

<%- include('./src/shared/footer') %>
