<%- include('./src/shared/header') %>

<h1 class="page-title">Password Reset</h1>
<h3 class="page-subtitle">
  Greetings from <a href="https://www.klwines.com/" class="link-default">klwines.com</a>.
</h3>

<p>
  We received a request to reset the password associated with this e-mail address.
  If you made this request, please follow the instructions below.
</p>

<p>
  If you did not request to have your password reset, please ignore this email.
  Rest assured your customer account is safe.
</p>

<div class="bordered-container">
  <p style="margin-bottom: 10px;">
    Click the link below to go to reset your password using our secure server:
  </p>

  <b>
    <a href="https://beta.klwines.com/Account/PasswordReset?guid=087f1d3f-35e5-467c-8e18-7e5e10a82f64"
       class="text-brand text-regular">
      https://secure.klwines.com/resetpassword/207f16ff-bb04-446e-adc1-67bd3cf6bc3d
    </a>
  </b>
</div>

<p>
  If the link doesn't work, you can copy and paste the link into your browser's address window, or
  retype it there.
  Once you have returned to <a href="https://www.klwines.com/" class="link-default">klwines.com</a>, we
  will give instructions for resetting your password.
</p>

<%- include('./src/shared/signature', { email: "customerservice@klwines.com"}) %>

<%- include('./src/shared/footer') %>
