<h1 class="page-title">Dear John,</h1>

<p>
  Thanks very much for registering online with K&L Wine Merchants.
  In addition to being able to maintain your own personal profile
  (saving you time each time you place an order), any online or
  telephone orders you place in the future will be available for you
  to look at any time you log on to the <a href="https://klwines.com" class="text-brand">klwines.com</a> Web site.
</p>

<p>
  Please save the following information for your records:
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      Email Address: @Model.Email
    </td>
    <td>
      Password: (not displayed)
    </td>
  </tr>
</table>

<p class="centered-banner-text">
  Cheers!
</p>

<%- include('./src/shared/signature', { email: "orders@klwines.com"}) %>
