<p>&nbsp;</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Name: @Model.FromName</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Email: @Model.FromEmail</p>
    </td>
  </tr>

  <tr>
    <td>
      <p>Subject: @Model.Subject</p>
    </td>
  </tr>

  <tr>
    <td>
      Message: @Model.Message
    </td>
  </tr>
</table>
