<h1 class="page-title">Dear John,</h1>

<p>
  Thank you for submitting your auction application for review.
</p>

<p>
  An auction director will get in touch with you in the next 3 - 5 days to discuss your lot and its
  estimated value, shipping or drop-off arrangements to our facility and to review the K&amp;L Wine Auctions process.
</p>

<p>
  The details of your account appear below. If you need to get in
  touch with us about your lot, send an e-mail message to
  <a href="mailto:auctions@klwines.com">auctions@klwines.com</a>
  or call <a href="tel:6505911705" class="link-default">650-591-1705</a>.
</p>

<p>
  You can always view your lot status by going to the My Account section of our website, and selecting "Auctions - Selling":
  <a href="https://www.klwines.com/account.asp" class="text-brand">https://www.klwines.com/account.asp</a>
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>
        Your Payment Address:
      </p>
    </td>

    <td>
      <p>
        PaymentAddressName,
        PaymentCompanyName,
        PaymentAddress1,
        PaymentAddress2,
        PaymentCity,
        PaymentStateCD,
        PaymentPostalCode,
        PaymentCountry
      </p>
    </td>
  </tr>

  <tr>
    <td>
      <p>
        Your Lot Items Drop-Off Location:
      </p>
    </td>

    <td>
      <p>
        Drop-Off Location address goes here.
      </p>
      <p>
        Please
        <a target="_blank" class="text-brand" href="https://klwines.com/Auction/AuctionLot/AuctionLotList.aspx">
          print your drop-off form
        </a>&nbsp;
        and bring this form along with your auction items to the K&amp;L Wine Merchants location
        designated above.
      </p>
    </td>
  </tr>

  <tr>
    <td>
      Your Lot Items Pick-Up Address:
    </td>

    <td>
      Lot Items Pick-Up goes here.
    </td>
  </tr>
</table>

<p class="centered-banner-text">
  Thank you for working with K&amp;L Wine Merchants!
</p>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
