<h1 class="page-title">Dear John,</h1>

<p>
  Thank you for tracking K&amp;L Wine Auctions. The auction has ended on the following lot:
</p>

<p>
  <b>2008 Louis Roederer "Cristal" Brut Champagne</b>
</p>

<table
  class="bordered-container bordered-container_filled"
  width="100%"
  style="table-layout: fixed"
>
  <tr>
    <td>
      <span>Winning Bid:</span>

      <span class="pull-right space-right">
        <b>$249.00</b> ($224.10 including 10% buyer's premium)
      </span>
    </td>
  </tr>
</table>

<p>
  <a target="_blank" class="text-brand" href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123">
    Click Here
  </a> to view the details of this lot.
</p>

<p>
  If you would like to learn more about when your favorite wines become available, please visit the K&amp;L Waiting List page:
  <a href="https://www.klwines.com/waitinglist/help">https://www.klwines.com/waitinglist/help</a>
</p>

<p>
  You may also update your Email Preferences in the My Account section of the website to receive news &amp; alerts on upcoming auction lots.
  <a href="https://www.klwines.com/account">https://www.klwines.com/account</a>
</p>

<%- include('./src/shared/ifYouHaveAnyQuestions') %>

<p>
  To view your bidding history, track new auctions or pay for lots, visit the My Account page and select <a
    href="https://www.klwines.com/Account">
    <b>Auctions-Buying</b>
  </a>
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
