<h1 class="page-title">Dear John,</h1>

<p>
  Due to your non acceptance of the winning bid or your credit cards failure to authorize
  the purchase price of the auction lot, your bid has been invalidated and you are no longer
  the winner of the item.<br/><br/>
  An auction director will be in touch with you shortly to discuss the matter and determine any necessary next steps.
</p>

<p>
  <b>2010 Bois-Malot, Bordeaux Supérieur</b>
</p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      <p>Your Maximum Bid:</p>
    </td>

    <td>
      <p>
        <b>$10.99</b>
        ($12.09 including 10% buyer's premium)
        (reserve not met)
      </p>
    </td>
  </tr>

  <tr>
    <td>
      Auction End Time:
    </td>
    <td>
      <a href="#" class="link-default">05/17/2018 00:00pm PT</a>
    </td>
  </tr>
</table>

<%- include('./src/shared/ifYouHaveAnyQuestions') %>

<%- include('./src/shared/signature', { email: "questions@klwines.com"}) %>
