<h1 class="page-title">Dear John,</h1>

<p>Thank you for choosing K&L Wine Merchants!</p>

<p>
  This email confirms that we have received your Local Delivery order(s).
  If you need to schedule or modify your Local Delivery date and delivery window, please visit the following link
  <a href="https://klwines.com/Account/ModifyDeliveryDate" class="text-brand">https://klwines.com/Account/ModifyDeliveryDate</a>.
</p>

<p>
  If you have any questions, please contact our Customer Service team through email at
  <a href="mailto:customerservice@klwines.com">customerservice@klwines.com</a> or by calling them toll free at
  <a href="tel:8775594637" class="link-default">877-559-4637</a>.
</p>

<%- include('./src/shared/signature', { email: "orders@klwines.com"}) %>
