<h1>
  <p></p>
  <p>You have received a gift from Richard Branson.</p>
</h1>

<p>The gift order information appears below.  If you need to get in touch with us about your order, send an e-mail message to
  <a href="mailto:customerservice@klwines.com" class="text-brand">customerservice@klwines.com</a> (or just reply to this message) or call
  <a href="tel:8002475987">800-247-5987</a>.</p>

<p>
  As soon as we receive the order we begin working to pull all the items together, pack the order, and get it shipped out.
</p>

<p>You will receive another email when order is shipped or ready for pickup.</p>

<p>Your gift order as follows:</p>

<p>E-mail address: <a href="mailto:sample-email@mail.com" class="text-brand">sample-email@mail.com</a></p>

<table class="bordered-container bordered-container_filled" width="100%" style="table-layout: fixed">
  <tr>
    <td>
      Ship to:
    </td>
    <td>
      <b>Tech Fabric LLC, 1530 E Williams Field Rd, Suite #201 Gilbert, AZ 85295</b>
    </td>
  </tr>
</table>

<h1>
  <p>Order # 36704118 on 1/18/2019</p>
</h1>

<p>
  Shipping Method: <b>Will Call - Redwood City</b>
</p>

<%- include('./src/shared/order', { items: [{
  img: 'https://curage.ca/wp-content/uploads/sites/5/2016/05/GC-Gift-Card.jpg',
  name: 'Gift Card',
  qty: 1,
  price: '$0.00'
}]}) %>

<p>Due to space limitations, we need you to take possession of all will calls and holds within 90 days of the order date. Thank you for your cooperation.</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
