<h1 class="page-title">Dear John,</h1>

<p>
  This is a reminder to place your maximum bid on the following lot:
</p>

<p>
  <b>2010 Bois-Malot, Bordeaux Supérieur</b>
</p>

<p>
  Although you are currently the high bidder, your maximum bid of $300.00 is below the reserve.
  The reserve is the minimum price the seller is willing to accept for his or her wine.
</p>

<p>
  <span class="text-brand inline-block">**</span>
  IMPORTANT: Unless the reserve is met, you will not win the lot.
</p>

<p>
  This Auction will be ending on 12/10/19 00:00am PT.
  You can increase your bid by clicking on the following link:
  <a
    target="_blank"
    class="text-brand"
    href="https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123"
  >
    https://klwines.com/Auction/Bidding/AuctionBidDetail.aspx?sku=123
  </a>
</p>

<%- include('./src/shared/ifYouHaveAnyQuestions') %>

<p>
  You can always view your lot status by going to the My account section of our website,
  and selecting <a href="https://www.klwines.com/account.asp" class="text-brand">Auctions - Buying</a><br/>
</p>

<%- include('./src/shared/thanksForShopping') %>

<%- include('./src/shared/signature', { email: "auctions@klwines.com"}) %>
