<tr>
  <td align="center" valign="top">
    <table bgcolor="#f7f5e9" border="0" cellpadding="0" cellspacing="0" width="100%" class="footer">
      <tbody>
      <tr height="35">
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td width="7%">&nbsp;</td>
        <td width="76%">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td align="left" width="10%"><img alt="K&L Wines"
                                                src="https://www.klwines.com/Content/images/logo_new.svg"
                                                width="37"/></td>
              <td width="55%">
                <b><a href="http://www.klwines.com" class="d-block">www.klwines.com</a></b>
                <span class="text-regular">877-KLWines (<a href="tel:8775594637">877-559-4637</a>) (Toll Free)</span>
              </td>

              <td width="35%">
                <a href="mailto:customerservice@klwines.com" class="d-block">customerservice@klwines.com</a>
                <a href="https://www.klwines.com/Support/Faq">Visit our Help/FAQ page</a>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
        <td width="7%">&nbsp;</td>
      </tr>

      <tr height="35">
        <td>&nbsp;</td>
      </tr>

      <tr>
        <td colspan="3" class="footer-columns">
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="33%" class="footer-column">
                <h3 class="text-brand address-store-name">Redwood City Store</h3>

                <a href="https://maps.google.com/maps?ll=37.468462,-122.210298&z=15&t=m&hl=en-US&gl=US&mapclient=embed&q=3005%20El%20Camino%20Real%20Redwood%20City%2C%20CA%2094061">
                  3005 El Camino Real <br> Redwood City, CA 94061
                </a>

                <a href="tel:6503648544" class="address-phone link-default">(650) 364-8544</a>

                <div class="text-regular">Store Hours:</div>
                <div class="text-regular">Mon-Fri: 10-7pm</div>
                <div class="text-regular">Sat: 9-7pm</div>
                <div class="text-regular">Sun: 10-6pm</div>
              </td>

              <td width="33%" class="footer-column footer-column__bordered">
                <h3 class="text-brand address-store-name">San Francisco Store</h3>
                <a href="https://maps.google.com/maps?ll=37.779755,-122.40072&z=15&t=m&hl=en-US&gl=US&mapclient=embed&q=855%20Harrison%20St%20San%20Francisco%2C%20CA%2094107">
                  855 Harrison Street<br />San Francisco, CA 94107
                </a>

                <a href="tel:4158961734" class="address-phone link-default">(415) 896-1734</a>

                <div class="text-regular">Store Hours:</div>
                <div class="text-regular">Mon-Fri: 10-7pm</div>
                <div class="text-regular">Sat: 9-6pm</div>
                <div class="text-regular">Sun: 11-6pm</div>
              </td>

              <td width="33%" class="footer-column">
                <h3 class="text-brand address-store-name">Hollywood Store</h3>
                <a href="https://maps.google.com/maps?ll=34.096494,-118.326344&z=15&t=m&hl=en-US&gl=US&mapclient=embed&q=1400%20Vine%20St%20Los%20Angeles%2C%20CA%2090028">
                  1400 Vine Street<br />Hollywood, CA, 90028
                </a>

                <a href="tel:3234649463" class="address-phone link-default">(323) 464-9463</a>

                <div class="text-regular">Store Hours:</div>
                <div class="text-regular">Mon-Thu: 11-8pm</div>
                <div class="text-regular">Fri-Sat: 10-8pm</div>
                <div class="text-regular">Sun: 11-6pm</div>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr height="40">
        <td>&nbsp;</td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
