<tr class="gmail-fix">
  <td>
    <table cellpadding="0" cellspacing="0" border="0" align="center" width="600">
      <tr>
        <td cellpadding="0" cellspacing="0" border="0" height="1"; style="line-height: 1px; min-width: 600px;">
          <img src="spacer.gif" width="600" height="1" style="display: block; max-height: 1px; min-height: 1px; min-width: 600px; width: 600px;"/>
        </td>
      </tr>
    </table>
  </td>
</tr>

<tr>
  <td align="center" valign="top">
    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
      <tr height="17"><td>&nbsp;</td></tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr height="56">
              <td width="5%">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="70">
                  <tbody>
                  <tr>
                    <td class="border-brand" height="33">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="34">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              </td>

              <td align="left" width="15%">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="70">
                  <tbody>
                  <tr rowspan="2">
                    <td>
                      <img alt="K&L Wine Merchants" src="https://www.dropbox.com/s/532ugx63w7z6eyd/logo.png?dl=1" width="100"/>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </td>

              <td width="80%">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="70">
                  <tbody>
                  <tr>
                    <td class="border-brand" height="33">&nbsp;</td>
                  </tr>
                  <tr>
                    <td height="34">&nbsp;</td>
                  </tr>
                  </tbody>
                </table>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="5%" >&nbsp;</td>

              <td align="right" width="90%">
                <b class="text-regular">"The best wine website in the U.S."</b>
                <br>
                <span class="space-right text-regular">&mdash; The Wall Street Journal</span>
              </td>

              <td width="5%">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
