<tr>
  <td align="center" valign="top">
    <table bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" width="100%">
      <tbody>
      <tr height="17"><td>&nbsp;</td></tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="7%" >
                <hr>
              </td>

              <td align="left" width="13%">
                <img alt="K&L Wines" src="https://raw.githubusercontent.com/yaroslav0507/email-templates/master/src/images/logo.png" width="80"/>
              </td>

              <td width="80%">
                <hr>
              </td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tbody>
            <tr>
              <td width="7%" >&nbsp;</td>

              <td align="right" width="76%">
                <b class="text-regular">"The best wine website in the U.S."</b>
                <br>
                <span class="space-right text-regular">&mdash; The Wall Street Journal</span>
              </td>

              <td width="7%">&nbsp;</td>
            </tr>
            </tbody>
          </table>
        </td>
      </tr>
      </tbody>
    </table>
  </td>
</tr>
