<p>
  K&amp;L Wine Merchants has temperature-controlled lockers available in our new San Francisco store and San Carlos, California fulfillment
  center. If you are interested in securing a locker to store your auction items, please contact
  <a href="mailto:onsite-lockers@klwines.com">onsite-lockers@klwines.com</a>.
</p>
