<table width="100%" class="order-total">
  <tbody>
  <tr>
    <td class="order-total__label" >Subtotal</td>
    <td class="order-total__value"><%= subtotal %></td>
  </tr>
  <tr>
    <td class="order-total__label">Sales Tax</td>
    <td class="order-total__value"><%= salesTax %></td>
  </tr>
  <tr>
    <td class="order-total__label">Total</td>
    <td class="order-total__value"><%= total %></td>
  </tr>
  </tbody>
</table>
